#parkinsans-font {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #233D4D; /* Example background color */
  color: white; /* Example text color */
  padding: 10px 20px; /* Adds padding to the top, bottom, left, and right */
  box-shadow: 0 4px 2px -2px gray; /* Optional shadow */
  z-index: 1000;
  display: flex;
  justify-content: space-between; /* Distributes items evenly with space between */
  align-items: center; /* Aligns items vertically in the center */
}

#header h1 {
  margin-left: 200px; /* Adds margin to the left of the button */
  font-size: 70px;
}

/* styles.css */
#header button {
  padding: 50px 100px; /* Adds padding for a larger clickable area */
  margin-right: 200px; /* Adds margin to the right of the button */
  border: none; /* Removes the default border */
  border-radius: 25px; /* Rounds the corners */
  background-color: #619B8A; /* Solid color background */
  color: white; /* Sets the text color to white */
  font-family: "Parkinsans", sans-serif;
  font-size: 36px; /* Sets a comfortable font size */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  transition: all 0.3s ease; /* Smoothens the transition effects */
}

#header button:hover {
  background-color: #A1C181; /* Darkens the button color on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Increases the shadow on hover */
  transform: translateY(-2px); /* Lifts the button slightly on hover */
}

